body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}
body.dark-mode {
  background-color: black;
  text-align: center;
}
h1 {
    color: rgb(255, 0, 0);
}
.date {
    color: red;
}
.bydev {
    color: blueviolet;
    
    
}
.oi {
    color: red;
    
}
